.good-list-container{
    background-color: #fff;
    .good-ul{
        // padding-right
        display: flex;
        justify-content: space-between;
        // 换行
        flex-wrap: wrap;
        .good-li{
            padding-left: 20px;
            box-sizing: border-box;
            width: 50%;
            .pos {
                position: relative;
                padding-bottom: 8px;
                .good-image-container {
                  image {
                    height: 519px;
                    width: 100%;
                  }
                }
                .desc{
                  display: flex;
                  justify-content: flex-start;
                  .desc-left,.desc-right,.desc-center{
                    display: inline-block;
                    font-size: 26px;
                    text-align: center;
                    margin-right: 10px;
                    padding: 5px;
                    vertical-align: middle;
                  }
                  .desc-center{
                    background-color: rgb(32, 36, 35);
                    color: #fff;
                    font-size: 25px;
                  }
                  .desc-left{
                    background-color: pink;
                    font-weight: 400;
                    color: #fff;
                  }
                  .desc-right{
                    border: 1px solid lightgrey;
                    color: gray;
                  }
                }
              }
        }
    }

}